@import "../assets/variables";
@import "../assets/mixins";

.toolbar {
  height: $toolbar-height;
  width: 100%;
  position: fixed;
  top: $header-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;

  &__button {
    @include button;
  }
}