@import "../assets/variables";
@import "../assets/mixins";

.table {


  &__row {
    display: flex;
    min-height: 20px;
    height: $row-height;
  }

  &__row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    background: #f8f9fa;
  }

  &__row-data {
    display: flex;
  }

  &__column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
  }

  &__cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    white-space: nowrap;
    outline: none;

    &_selected {
      border: none;
      outline: 2px solid #3c74ff;
      z-index: 2;
    }
  }
}