@import "../assets/variables";
@import "../assets/mixins";

.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;

  &__header {
    background: #fff;
    height: $header-height;
    width: 100%;
    position: fixed;
    z-index: 2;
  }

  &__toolbar {
    background: #fff;
    height: $toolbar-height;
    width: 100%;
    position: fixed;
    top: $header-height;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    z-index: 2;
  }

  &__formula {
    background: #fff;
    position: fixed;
    top: $header-height + $toolbar-height;
    height: $formula-height;
    width: 100%;
    border-bottom: 1px solid $border-color;
    z-index: 2;
  }

  &__table {
    position: relative;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: auto;
    padding-bottom: 2px;
  }
}