include ../header/header.pug
include ../toolbar/toolbar.pug
include ../formula/formula.pug
include ../table/table.pug

mixin excel()
  .excel
    .excel__header
      +header()
    .excel__toolbar
      +toolbar({
        buttons: [
          'format_align_left', 
          'format_align_center',
          'format_align_right', 
          'format_bold', 
          'format_italic', 
          'format_underline'
          ]
      })
    .excel__formula
      +formula()
    .excel__table
      +table()