@import "../assets/variables";
@import "../assets/mixins";

.formula {
  width: 100%;
  display: flex;
  align-items: center;

  &__info {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    border-right: 1px solid $border-color;
    min-width: $info-cell-width;
  }

  &__input {
    padding: 4px;
    font-size: 12px;
    outline: none;
    width: 100%;
    height: 100%;
    color: #000;
  }
}